.fc {
    --fc-small-font-size: 14px;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0, 0%, 82%, 0.1);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #003c71;
    --fc-button-hover-bg-color: #002e57;
    --fc-button-active-bg-color: #0059a7;

    --fc-event-bg-color: #003c71;
    --fc-event-border-color: #003c71;

    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, 0.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(0, 59, 169, 0.1);
    --fc-today-bg-color: rgba(0, 40, 113, 0.03);
    --fc-now-indicator-color: red;

    --fc-daygrid-event-dot-width: 8px;
}

.fc {
    font-family: 'Titillium Web', sans-serif;
    color: #333;
}

@media screen and (min-width: 1024px) {
    .fc {
        min-height: 40rem;
    }
}

.fc .fc-timegrid-event {
    /* border-radius: 0.25rem; */
    border-radius: 0;
}

.fc .fc-timegrid-event .fc-event-main {
    padding: 3px 6px 0;
}

.fc .fc-button {
    border: none;
    /* border-radius: 0.25rem; */
    border-radius: 0;
}

.fc table th {
    font-weight: 700;
}

.fc .fc-toolbar-title {
    text-transform: capitalize;
}

.fc .fc-col-header-cell-cushion {
    text-transform: capitalize;
}

.fc .fc-daygrid-event {
    color: #333;
    /* border-radius: 0.25rem; */
    border-radius: 0;
}

/* .fc .fc-daygrid-event-dot {
    margin: 0 6px 0 6px;
} */

/* .fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 4px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 4px;
} */

.fc .fc-toolbar-title {
    text-wrap: balance;
}

.fc .fc-list-day-text,
.fc .fc-list-day-side-text {
    text-transform: capitalize;
}

.fc .fc-daygrid-dot-event:hover {
    background: var(--fc-highlight-color);
}

@media screen and (max-width: 512px) {
    .fc .fc-header-toolbar > .fc-toolbar-chunk:nth-child(3) {
        align-self: start;
    }
}

.tippy-box .tippy-content {
    font-size: 16px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    padding: 0;

    min-width: 17rem;

    font-family: 'Titillium Web', sans-serif;
}

.tippy-box .tippy-content .tooltip-header {
    padding: 0.55rem 1rem 0.45rem 0.6rem;

    font-size: 1.25rem;
    font-weight: 600;

    border-bottom: 1px solid #ddd;
}

.tippy-box .tippy-content .tooltip-content {
    padding: 0.5rem;

    display: grid;
    grid-auto-flow: row;

    gap: 0.25rem;
}

.tippy-box .tippy-content .tooltip-abstract {
    --abstract-max-height: 8rem;

    max-height: var(--abstract-max-height);
    overflow: hidden;
    position: relative;
}

.tippy-box .tippy-content .tooltip-abstract::after {
    --shadow-height: 3rem;

    content: '';
    position: absolute;
    top: calc(var(--abstract-max-height) - var(--shadow-height));
    height: var(--shadow-height);
    width: 100%;
    background: linear-gradient(to top, #fff, transparent);
}

/* 
Spasticate di CSS per fixare temporaneamente l'HTML dentro gli abstract.
*/

/* TEMPORARY: imported abstracts have repeated information, hide it */
.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract h4,
.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract h4 + p,
.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract h4 + p + h4 {
    display: none;
}

/* TEMPORARY: reset styles of imported data */
.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract * {
    font-family: inherit !important;
    font-size: inherit !important;
}

/* TEMPORARY: imported data has plain html, hide actual <br> and replace them with " " */
.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract br {
    display: none;
}

.tippy-box .tippy-content .tooltip-content:not(.conference) .tooltip-abstract br + *::before {
    content: ' ';
}

/* Hides links in tooltip */
.tippy-box .tippy-content .tooltip-content .tooltip-abstract a {
    color: inherit !important;
    text-decoration: none !important;
}
